<!DOCTYPE html>
<html>
<head>
<title>Result</title>
</head>

<body>

<div id="container">

<div id="header">
<p><b>Liver Patient Prediction</p>
</div>


<span>You dont have a liver desease problem</span>

</div>



</body>

<style>
body{background:#fff;font-family:sans;}
#container{width:800px;height:550px;background:#EDDFA5;position:absolute;left:20%;}
#header{width:750px;height:80px;background:#00f;position:relative;left:2.9%;}
#header p{color:#fff;font-size:26px;font-family:sans-serif;position:relative;top:25%;left:20%;}

span{color:red;font-family:sans;position:relative;top:15%;left:5%;}
</style>

</html>
